<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.springframework.jdbc.core" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

	<appender name="LOGGLY" class="ch.qos.logback.ext.loggly.LogglyAppender">
	    <!-- 339c6093-f886-4606-9808-81be44c98cbd is the customer token: I get it from: anchtun.loggly.com -->
		<endpointUrl>https://logs-01.loggly.com/inputs/339c6093-f886-4606-9808-81be44c98cbd/tag/apisecurity
		</endpointUrl>
		<pattern>%m</pattern>
	</appender>

	<logger name="com.anchtun.apisecurity.api.filter.AuditLogFilter" level="info" additivity="false">
		<appender-ref ref="LOGGLY" />
	</logger>

</configuration>